.artist-font {
    background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://s3.amazonaws.com/usefulangle/news/95-5f6cc1ad5575e.jpg');
}

.spin {
	height: 2rem;
}

.main-div {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: center;
}

.painting-img {
	/* border: 1px solid red; */
	/* margin-top: 5rem; */
	height: auto;
	min-width: 50vw;
	object-fit: fill;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.frame {
	margin-top: 5rem;
	height: auto;
	width: 38vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 10px solid saddlebrown;
}

.painting {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	object-fit: fill;

}

.product-div {
	min-height: auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-info {
	height: 60%;
	
}

.title {
	font-size: 2.7vw;
	padding: .5rem;
}

.heading {
	font-size: 1vw;
	padding: .5rem;
}

p {
	font-size: 1.3vw;
	padding-left: .5rem;
}

.bio {
	padding: 1rem;
}

.highlights {
	font-size: .8vw;
	padding: .2rem;
}

.menu-font {
	padding: 10px;
}

@media (max-width: 700px) {
	.main-div {
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: center;
		align-items: center
	
	}

	.painting-img {
		margin-top: 5rem;
		height: auto;
		width: 60vw;
	
	}

	.frame {
		height: auto;
	width: 48vw;
	margin: 0;
	}

	.product-div {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.product-info {
		height: 80%;
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/* ul {
	text-decoration: none;
	padding-left: 1rem;
} */